/* seletor */
section.s-hero {
  /* propriedade : valor*/
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*
 - as declaracoes de um seletor são envolvidas por chaves
 - as declaracoes sepradas por ;
*/